<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
<div>
    <h1>Top 5 Categories</h1>
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li>
            <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}
</div>
<div>
    <h1>Top 5 Pages</h1>
    {% if pages %}
    <ul>
        {% for page in pages %}
        <li>
            <a href="{{ page.url }}">{{ page.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>No pages to display</strong>
    {% endif %}
</div>
<div>
    <a href="/rango/add_category/">Add a New Category</a>
    <a href="/rango/about/">About</a><br/>
    <img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango"/>
</div>
</body>
</html>