{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Rango!
{% endblock %}


{% block body_block %}
    <div>
        <h1>Top 5 Categories</h1>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
    </div>
    <div>
        <h1>Top 5 Pages</h1>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages to display</strong>
        {% endif %}
    </div>
{% endblock %}
