{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
Rango!
{% endblock %}


{% block body_block %}
<div class="jumbotron">
    <h1 class="display-3">Rango says ... </h1>
    {% if user.is_authenticated %}
        <h1>Hey there {{ user.username }}</h1>
    {% else %}
        <h1>Hey there partner!</h1>
    {% endif %}
    {% if casa_user %}
        <p>You are logged in with casa as {{ casa_user_name }} <a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p>You are logged in with rango</p>
    {% endif %}
    <button class="btn btn-primary" id="about-btn">Click Me!</button>
</div>
<div id="msg">Hello, Jquery DOM Manipulation</div>
<div class="row marketing">
    <div class="col-lg-6">
        <h4>Most Liked Categories</h4>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <strong>There are no categories present.</strong>
    {% endif %}
    <div class="col-lg-6">
        <h4>Most Viewed Pages</h4>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No pages to display</strong>
        {% endif %}
    </div>
</div>
{% endblock %}
