{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login using your CASA account</h1>
    <form id="login_form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p>Username: <input type="text" name="username" value="" size="50" /></p>
        <p>Password: <input type="password" name="password" value="" size="50" /></p>
        <br />
        <input type="submit" value="submit" />
    </form>
{% endblock %}